@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


html * {
  margin: 0;
  padding: 0;;
}

body
{
   font-family: 'Rubik';
}

.profile-img {
  text-align: right;
  visibility: hidden;
  padding-top: 3px;
}

.profile-li {
  margin: 22px;
}


.welcome {
  visibility: hidden;
  font-size: 15px;
}
.name {
  visibility: hidden;
  font-size: 15px;
  white-space: nowrap;
  color:#B0BAC9;
}

.navigation:hover .welcome {
  visibility: visible
}

.navigation:hover .profile-img {
  visibility: visible
}

.navigation:hover .name {
  visibility: visible
}





.navigation {
  position: fixed;
  width: 60px;
  height: 100%;
  background:#f8f9fa;
  transition: 0.5s;
  overflow: hidden;
  z-index: 100;

}

.navigation:hover {
  width: 200px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
}

.sidebar-hover:hover {
  background: #b7cbeb;
  border-left:3px solid #2E5BFF;
}

.navigation ul li a:hover {
  color:#2E5BFF
}

.velocity {
  font-weight: 500;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #B0BAC9;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  font-size: 15px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}


#card-h-a {
  font-weight: 500;
  font-size: 13px;
}

.fa-fa-indent {
  text-align: right;
}

#card-block-heading {
  text-transform: uppercase;
  color: #8798AD;
  font-size: 13px;
}

.block2 {
  padding-top: 100px;
}
#card-m {
    margin-bottom: 5px;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
}
.heading-text {
  font-weight: 400;
}

#card-h-b {
    font-weight: 500;
}

.card {
    width: 17rem;

}

ul li::before {
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

#avatar {
    width: 45px;
}
#avatar-head {
  width: 25px;
  margin-top: 8px;
  margin-left: 4px;
}
#avatar-profile {
  width: 37px;
  margin-top: 3px;
  margin-left: 7px;
}

#avatar-right {
    text-align: right;
}

.button {
    
    border: none;
    color: white;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    width: 29px;
    margin-left: -23px;
  }
  .button4 {border-radius: 12px;}

  #image-america {
    max-width:90%;
    max-height:90%;
    padding-top: 10px;
  }

  #image-piechart { 
    max-width:68%;
    max-height:68%;
    padding-top: 10px;
  }

  .avatar-row {
      padding-top: 20px;
  }

  .pie-heading {
      padding-top: 40px;
  }

  .bottom-head {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
  }

  .col {
    flex: 1 0 18%; /* The important bit. This percentage decides your columns. 
   The percent can be px. It just represents your minimum starting width.
    */
    display: flex;
    text-align: center;
  }

  .lists {
    display: flex;
    flex: 1;
  }
  
  .lists .list {
    height: 100%;
    min-height: 150px;
    transition: all 0.2s linear;
  }
  



